@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap");

body {
  font-family: "IBM Plex Sans Thai", sans-serif;
}

#result {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}
