@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Noto+Sans+Thai:wght@500&family=Pacifico&display=swap');

body{
    font-family: "Kant",sans-serif;
    background-color: #FFEFC0;
}
table{
    border: 2px solid #000000; /* กำหนดขอบของกรอบและสีขอบ */
    padding: 10px; /* กำหนดระยะห่างภายในกรอบ */
    background-color: #ccc; /* กำหนดสีพื้นหลังของกรอบ */
  }